body {
    background-color:rgba(47, 247, 237, 0.938);
    font-family:Computer Modern Serif;
}

hr.dashed {
    border-top:1px dotted #fff;
    border-style: none none dashed;
    color: #000;
    background-color: rgba(47, 247, 237, 0.938);
}

.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: center;
    color: #27ba4c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li {
    margin: 10px;
}
